CSS

#section_da_localizacao {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}


.fotografias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.fotografias img {
    width: 150px;
    border-radius: 20px;
}



.tabela-info {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
}

.tabela-info th, .tabela-info td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: left;
}

.tabela-info th {
    background-color: #f2f2f2;
    color: #b71c1c;
}

.tabela-info td {
    color: #333;

}
